DJANGO_SETTINGS_MODULE=backend.settings.dev

SECRET_KEY=replace-me-with-a-secret-key  # Django secret key

YOUTUBE_API_KEY=replace-me  # YouTube Data API v3 key

YOUTUBE_CHANNEL_HANDLE=@redstonevideotranslation5478
YOUTUBE_CHANNEL_ID=UCqFzvR6Atp0qBXiEzL3Bbvw

POSTGRES_DB=postgres_example
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_URL=redis://:PASSWORD@HOST:PORT/DB
REDIS_PASSWORD=PASSWORD

ACCESS_TOKEN_LIFETIME=15  # Access token lifetime (minutes)
REFRESH_TOKEN_LIFETIME=30  # Refresh token lifetime (days)

SITE_URL=your-site-url e.g. https://aliencommons.lazyalienserver.top

ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com
CORS_ALLOWED_ORIGINS=https://yourdomain.com,https://www.yourdomain.com

DEFAULT_FROM_EMAIL=AlienCommons <noreply@yourdomain.com>
SERVER_EMAIL=Server Email  # Django 系统错误邮件用
EMAIL_HOST=Email Host
EMAIL_PORT=Email Port
EMAIL_HOST_USER=SES SMTP username
EMAIL_HOST_PASSWORD=SES SMTP password
EMAIL_USE_TLS=True or False
EMAIL_USE_SSL=True or False