# Django settings module (use backend.settings.pro for production)
DJANGO_SETTINGS_MODULE=backend.settings.dev

# Django secret key (required)
SECRET_KEY=replace-me-with-a-secret-key

# YouTube Data API v3 key
YOUTUBE_API_KEY=replace-me

# YouTube channel info
YOUTUBE_CHANNEL_HANDLE=@redstonevideotranslation5478
YOUTUBE_CHANNEL_ID=UCqFzvR6Atp0qBXiEzL3Bbvw

# Database
POSTGRES_DB=postgres_example
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Redis connection URL
REDIS_URL=redis://:PASSWORD@HOST:PORT/DB
REDIS_PASSWORD=PASSWORD

# Access token lifetime (minutes)
ACCESS_TOKEN_LIFETIME=15
# Refresh token lifetime (days)
REFRESH_TOKEN_LIFETIME=30

SITE_URL=your-site-url e.g. https://aliencommons.lazyalienserver.top

ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com
CORS_ALLOWED_ORIGINS=https://yourdomain.com,https://www.yourdomain.com